#header {
  height: 100vh;

  color: #666;
  text-align: left;

  background: linear-gradient(to bottom, #288BE4 0%, #FB4d42 100%);
}

#header:after { display: none; }

#header h1 {
  display: inline;

  color: #fefefe;
  font-size: 80px;
  font-weight: 600;
  line-height: 130px;

  border-bottom: 10px solid #E8EF37;
}

#header .scrolly {
  margin-top: 100px;

  opacity: .7;
  transition: opacity .5s;
}

#header .scrolly:hover {
  background: none;

  opacity: .9;
  transition: opacity .5s;
}

#header p {
  padding: 15px;

  color: #fefefe;
}

#header .container {
  width: 80%;
  height: 100%;
}

.screen-carousel-wrapper {
  position: relative;

  text-align: center;
}

.carousel-frame { width: 100%; }

button.slick-arrow { display: none !important; }

.screen-carousel {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;

  width: 90%;
  height: 66%;
  margin: 0 auto;

  background: black;
}

.screen-carousel div {
  width: 100%;
  height: 100%;

  text-align: center;

  overflow: hidden;
}

.screen-carousel div img {
  max-width: 100%;
  max-height: 100%;
}

.main.style2 { 
  background-color: #288BE4;
}

.main {
  border-top: 4px solid #E8EF37;
  border-bottom: 4px solid #FB4d42;
}

.main:first-of-type {
  border-top-width: 10px;
}

h2 {
  font-weight: 500;
}

.logos {
  display: flex;

  width: 50%;
  height: 80px;
  margin: 50px auto; 
}

.logos .image {
  flex: 1 0 40%;

  margin: 0 5%;

  text-align: center;
}

.logos .image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
