#header {
  min-height: 100vh;

  color: #666;
  text-align: left;

  background: linear-gradient(to bottom, #288BE4 0%, #FB4d42 100%);
}

#header:after { display: none; }

#header h1 {
  display: inline;

  color: #fefefe;
  font-size: 80px;
  font-weight: 600;
  line-height: 130px;

  border-bottom: 10px solid #E8EF37;
}

#header .button {
  margin-top: 100px;

  opacity: .7;
  transition: opacity .5s;
}

#header .button:hover {
  background: none;

  opacity: .9;
  transition: opacity .5s;
}

img.octocat {
  position: relative;
  top: 4px;

  width: 20px;
  height: 20px;
  margin-right: 5px; 
}

#header p {
  padding: 15px;

  color: #fefefe;
}

#header .container {
  width: 80%;
  height: 100%;
}

.screen-carousel-wrapper {
  position: relative;

  text-align: center;
}

.carousel-frame { width: 100%; }

button.slick-arrow { display: none !important; }

.screen-carousel {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;

  width: 90%;
  height: 66%;
  margin: 0 auto;

  background: black;
}

.screen-carousel div {
  width: 100%;
  height: 100%;

  text-align: center;

  overflow: hidden;
}

.screen-carousel div img {
  max-width: 100%;
  max-height: 100%;
}

.main.style2 { 
  background-color: #288BE4;
}

.main {
  border-top: 4px solid #E8EF37;
  border-bottom: 4px solid #FB4d42;
}

.main:first-of-type {
  border-top-width: 10px;
}

h2 {
  font-weight: 500;
}

.video-wrapper { text-align: center; }

.preview-video {
  float: none;

  width: 500px;
  height: 340px;
  margin: 0 auto;

  text-align: center;
}

.logos {
  display: flex;

  width: 50%;
  height: 80px;
  margin: 50px auto; 
}

.logos .image {
  flex: 1 0 40%;

  margin: 0 5%;

  text-align: center;
}

.logos .image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.no-top { 
  padding-top: 0; 

  border-top: none; 
}
.no-bottom { border-bottom: none; }

@media screen and (max-width: 1680px) {
  #header { padding: 9em 0; }
}

@media screen and (max-width: 1440px) {
  #header h1 { 
    font-size: 65px;
  }
}

@media screen and (max-width: 1140px) {
  #header h1 {
    font-size: 50px; 
    line-height: 90px;
  }
}

@media screen and (max-width: 980px) {
  #header { padding: 8em 3em 8em 3em; }

  #header h1 {
    font-size: 70px; 
    line-height: 130px;
  }

  #header p {
    margin-bottom: 45px;  
  }

  .scrolly { display: none; }

  .container p { text-align: left; }

  .image.fit img {
    width: auto;
    max-height: 60vh;
    margin-bottom: 45px;
  }

  .no-top { 
    margin-top: 45px; 
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 900px) {
  .video-wrapper > iframe {
    width: 680px;
    height: 400px;
  }

  .tableau { margin-bottom: 35px; }

  .image { width: 100%; }

  .image img {
    max-width: 100%; 
    max-height: 100%;
  }
}

@media screen and (max-width: 780px) {
  #header { min-height: 70vh; }

  .video-wrapper > iframe {
    width: 480px; 
    height: 260px;
  }
}

@media screen and (max-width: 540px) {
  #header h1 {
    font-size: 40px; 
    line-height: 70px;
    border-width: 8px;
  }

  .video-wrapper > iframe {
    width: 350px; 
    height: 180px;
  }
}
