#header {
  color: #666;
  text-align: left;

  background: linear-gradient(to bottom, #288BE4 0%, #FB4d42 100%);
}

#header h1 {
  display: inline-block;

  color: #fefefe;
  font-size: 70px;
  font-weight: 600;
}

#header p {
  padding: 15px;

  color: #fefefe;
}


#header .container {
  width: 80%;
  height: 100%;
}

.screen-carousel-wrapper {
  position: relative;
  text-align: center;
}

.carousel-frame {
  width: 100%; 
}

button.slick-arrow { display: none !important; }

.screen-carousel {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;

  width: 90%;
  height: 66%;
  margin: 0 auto;

  box-shadow: inset 0 0 0 6px rgba(0,0,0,.5);
}

.screen-carousel div {
  width: 100%;
  height: 100%;

  text-align: center;

  overflow: hidden;
}

.screen-carousel div:first-of-type {
  background: red;
}

.screen-carousel div:last-of-type {
  background: pink;
}

.logos {
  display: flex;
  width: 100%;
}

.logos .image {
  flex: 1 0 50%;

  text-align: center;
}

.logos .image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
